/* Estilo para el cuerpo y elementos generales */
:root {
    --color-primario: #007832;
    --color-secundario: #00324D;
    --color-primario-hover: #08a835;
    --color-secundario-hover: #0d5c86;
    --fuente-primaria: 'Work sans', sans-serif;
    --color-fuente: #f2f2f2;
    --color-texto: #000000;
    --sombra: 0 4px 8px rgba(0, 0, 0, 0.1);
    --borde-radius: 10px;
}

body {
    font-family: var(--fuente-primaria);
    line-height: 1.6;
    background: linear-gradient(270deg, #00324D, #007832, #00324D);
    background-size: 600% 600%;
    animation: gradientAnimation 5s ease infinite;
    color: var(--color-fuente); /* Color de texto principal */
    margin: 0;
    padding: 0;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container {
    max-width: 1200px; /* Ancho máximo del contenido */
    margin: auto;
    padding: 20px;
}

/* Ajuste de los contenedores principales para el carrusel y los botones */
.content-presentation {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    margin-top: 15px;
}

.section-carousel,
.section-buttons {
    flex: 1;
    min-width: 40%;
    max-width: 60%;
    box-sizing: border-box;
}

/* Estilo para la sección del Carrusel */
.section-carousel {
   /* background: linear-gradient(to right, #00324D, #007832); /* Color de fondo del carrusel */
    color: #ffffff; /* Color del texto del carrusel */
    padding: 40px 10px; /* Ajuste de los padding */
    min-height: 300px; /* Altura mínima del carrusel */
    text-align: center; /* Alineación centrada del contenido */
}

.section-carousel .slick-carousel {
    width: 90%; /* Ancho del carrusel */
    max-width: 600px; /* Máximo ancho del carrusel */
    margin: 0 auto; /* Centrar el carrusel */
}

.section-carousel .slick-slide img {
    border-radius: 10px; /* Borde redondeado de las imágenes */
    max-width: 100%; /* Hacer que las imágenes ocupen todo el ancho posible */
    height: auto; /* Altura automática para mantener la proporción */
    object-fit: cover; /* Ajuste de la imagen */
}

@media (max-width: 768px) {
    .section-carousel .slick-carousel {
        max-width: 100%; /* Ajuste del ancho en pantallas más pequeñas */
    }
}

/* Estilo para la sección de Botones */
.section-buttons {
    position: relative; /* Asegura que el contenido absoluto se ajuste al contenedor */
    padding: 60px 20px;
    min-height: 300px; /* Altura mínima de la sección de botones */
    overflow: hidden; /* Oculta cualquier desbordamiento */
}

.section-buttons::before,
.section-buttons::after {
    content: '';
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.2) 1px, transparent 1px);
    background-size: 50px 50px;
    animation: moveParticles 20s linear infinite;
    z-index: -1;
}

.section-buttons::after {
    animation-delay: -10s;
    opacity: 0.5;
}

@keyframes moveParticles {
    0% {
        transform: translateX(0) translateY(0);
    }
    100% {
        transform: translateX(100px) translateY(100px);
    }
}

/* Estilo para la tarjeta dentro de la sección de botones */
.section-buttons .custom-card {
    background-color: #f8f9fa; /* Color de fondo de la tarjeta */
    border: 1px solid #ccc; /* Borde de la tarjeta */
    border-radius: 10px; /* Borde redondeado de la tarjeta */
    padding: 30px; /* Ajuste del padding para hacer la tarjeta más grande */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    height: 100%; /* Altura máxima igual a la del carrusel */
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Transición para el hover */
}

.section-buttons .custom-card:hover {
    transform: translateY(-10px); /* Efecto de elevación al pasar el ratón */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más grande al pasar el ratón */
}

.section-buttons .custom-card h2 {
    color: #333; /* Color del título de la tarjeta */
    margin-bottom: 20px;
}

.section-buttons .btn-container .btn {
    width: 220px; /* Ancho de los botones */
    margin-bottom: 10px;
    padding: 10px 20px; /* Ajuste del padding para botones más grandes */
    font-size: 16px; /* Tamaño de fuente de los botones */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Transición para el hover */
}

.section-buttons .btn-primary {
    background-color: var(--color-primario); /* Color de fondo del botón primario */
    border-color: var(--color-primario-hover); /* Color del borde del botón primario */
}

.section-buttons .btn-primary:hover {
    background-color: var(--color-primario-hover); /* Color de fondo del botón primario al pasar el ratón */
    transform: translateY(-5px); /* Efecto de elevación al pasar el ratón */
}

.section-buttons .btn-secondary {
    background-color: var(--color-secundario); /* Color de fondo del botón secundario */
    border-color: var(--color-secundario-hover); /* Color del borde del botón secundario */
}

.section-buttons .btn-secondary:hover {
    background-color: var(--color-secundario-hover); /* Color de fondo del botón secundario al pasar el ratón */
    transform: translateY(-5px); /* Efecto de elevación al pasar el ratón */
}

.section-buttons .btn i {
    margin-right: 8px; /* Espacio entre el icono y el texto */
}

@media (max-width: 768px) {
    .content-presentation {
        flex-direction: column;
    }

    .section-carousel,
    .section-buttons {
        max-width: 100%;
        min-width: 100%;
    }
}


