:root {
    --color-Negro: #222222;
    --color-sombraNegra: #2e2b2b94;
    --color-fuente-background: rgba(255, 255, 255, 0.3);
    --color-fondoGris: #777777;
    --color-fuente: whitesmoke;
    --color-primario-obscuro: #007430;
    --color-primario: #007832;
    --color-verdeAguamarina: #1A936F;
    --color-primario-hover: #08a835;
    --color-secundario: #00324D;
    --color-secundario-hover: #0d5c86;
    --color-azulNavy: #1C5D99;
    --color-azulNavy-pastel: #bbcde5;
    --color-alternativo-azulCielo: #50E5F9;
    --color-alternativo-amarillo: #FDC300;
    --color--danger: #ffc107;
    --fuente-primaria: 'Work sans', 'Calibri';
    --tamaño-sidebar: 260px;
    --tamaño-sidebar-negativo: -260px;
    --transiciones: all 0.35s ease-in-out;
}


.modal-fixed {
    --bs-modal-width: 70%;
}

#camposAgregables {
    border-collapse: collapse;
    width: 100%;
}

#camposAgregables th,
#camposAgregables td {
    padding: 5px;
}

#camposAgregables th {
    background-color: #f0f0f0;
}

#camposAgregables .btnAgregar {
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
}

#camposAgregables .btnEliminar {
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
}

#camposAgregables td {
    vertical-align: top;
}

#camposAgregables select {
    width: 100%;
}

#camposAgregables td {
    position: relative;
}

.agregable {
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
}