/* Estilo para el cuerpo y elementos generales */
:root {
    --color-primario: #007832;
    --color-secundario: #00324D;
    --color-primario-hover: #08a835;
    --color-secundario-hover: #0d5c86;
    --fuente-primaria: 'Work Sans', sans-serif;
    --color-fuente: #f2f2f2;
    --color-texto: #000000;
    --sombra: 0 4px 8px rgba(0, 0, 0, 0.1);
    --borde-radius: 10px;
}

/* *{
    padding: 0;
    margin: 0;
    width: 0;
} */

body {
    background-color: whitesmoke;
    font-family: 'Arial', sans-serif;
}

.container {
    max-width: 800px;
    margin: auto;
    background: whitesmoke;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    color: #333;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.form-control, .form-select {
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    transition: all 0.3s;
}

.form-control:focus, .form-select:focus {
    border-color: #80bdff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}

.btn-primary {
    background-color:var(--color-primario);
    border-color:var(--color-primario);
    transition: background-color 0.3s, border-color 0.3s;
}

.btn-primary:hover {
    background-color:var(--color-primario-hover);
    border-color: var(--color-primario-hover);
}

@media (max-width: 768px) {
    .container {
        padding: 15px;
    }
}
/* registro.css */
.form-label {
    display: block;
    margin-bottom: 0.5rem;
}

.form-control, .form-select {
    width: 100%;
}


.form-select, .form-control {
    margin-bottom: 1rem;
    padding: 5px;
}
select.form-select {
    font-size: 1rem;
    padding: 5px; 
    height: auto; 
    min-width: 100%; 
    width: 80%;
}
input.form-control{
    padding: 5px;
    height: auto; 
    min-width: 100%; 
    font-size: 1rem;
    width: 80%;
}
#botonRegistro{
    width: 30%;
    height: 35px;
    font-size: 1rem;
    justify-content:center;
    align-items: center;
    align-content: center;
}